USE [master]
GO
/****** Object:  Database [TuDienPhapAnh]    Script Date: 10/21/2017 3:38:48 AM ******/
CREATE DATABASE [TuDienPhapAnh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TuDienPhapAnh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TuDienPhapAnh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TuDienPhapAnh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TuDienPhapAnh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TuDienPhapAnh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TuDienPhapAnh]
GO
USE [TuDienPhapAnh]
GO
/****** Object:  Table [dbo].[dict]    Script Date: 10/21/2017 3:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dict](
	[fr] [nvarchar](100) NOT NULL,
	[en] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dict] PRIMARY KEY CLUSTERED 
(
	[fr] ASC,
	[en] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dict] ([fr], [en]) VALUES (N'deux', N'two')
INSERT [dbo].[dict] ([fr], [en]) VALUES (N'quatre', N'four')
INSERT [dbo].[dict] ([fr], [en]) VALUES (N'trois', N'three')
USE [master]
GO
