USE [master]
GO
/****** Object:  Database [TuDienAnhViet]    Script Date: 10/21/2017 3:37:57 AM ******/
CREATE DATABASE [TuDienAnhViet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TuDienAnhViet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TuDienAnhViet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TuDienAnhViet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TuDienAnhViet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TuDienAnhViet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TuDienAnhViet]
GO
USE [TuDienAnhViet]
GO
/****** Object:  Table [dbo].[dict]    Script Date: 10/21/2017 3:37:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dict](
	[en] [nvarchar](100) NOT NULL,
	[vn] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dict] PRIMARY KEY CLUSTERED 
(
	[en] ASC,
	[vn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dict] ([en], [vn]) VALUES (N'eight', N'tám')
INSERT [dbo].[dict] ([en], [vn]) VALUES (N'five', N'năm')
INSERT [dbo].[dict] ([en], [vn]) VALUES (N'four', N'bốn')
USE [master]
GO
